body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.dark {
  background-color: #1F2937;
}

.hero {
  color: #F9FAf8;
}

.hero.main {
  font-size: 48px;
  font-weight: 900;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.secondary,
.third div {
  font-size: 18px;
  color: #E5E7EB;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.header a {
  text-decoration: none;
}

.second {
  display: flex;
  justify-content: space-between;
  height: 250px;
  padding: 8% 15%;
  gap: 4%;
}

.information {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  padding: 4% 0;
}

.third {
  padding: 8% 30%;
  height: 250px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 4%;
}

.third div,
.third img {
  width: 150px;
}

.third div {
  color: #1F2937;
  text-align: center;
}

.third img {
  height: 150px;
  border-radius: 12px;
  border: 4px solid #3882F6;
}

button {
  background-color: #3882F6;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 32px;
  border-radius: 8px;
  border: 0;
}

img {
  object-fit: cover;
}
