body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.dark {
  background-color: #1F2937;
}

.logo {
  font-size: 24px;
  color: #F9FAf8;
}

.secondary {
  font-size: 18px;
  color: #E5E7EB;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.header a {
  text-decoration: none;
}
