body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header ul {
  list-style-type: none;
  display: flex;
}

.header a {
  text-decoration: none;
}
