body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.dark {
  background-color: #1F2937;
}

.hero {
  color: #F9FAf8;
}

.hero.main {
  font-size: 48px;
  font-weight: 900;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.secondary {
  font-size: 18px;
  color: #E5E7EB;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.header a {
  text-decoration: none;
}

.second {
  display: flex;
  justify-content: space-between;
  height: 250px;
  padding: 8% 15%;
  gap: 4%;
}

button {
  background-color: #3882F6;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 32px;
  border-radius: 8px;
  border: 0;
}

img {
  object-fit: cover;
}
